// 文件名使用下划线，则不会将该文件编译为 css，导入时也不需要使用下划线，
// 需要注意：不要将带下划线与不带下划线的同名文件放置在同一个目录下，此时带下划线的文件会被忽略

$height: 32px;
$font-size: 14px;
$button-bg: #fff;
$button-active-bg: #eee;
$color: #333;
$border-color: #999;
$border-color-hover: #666;
$border-radius: 4px;
$box-shadow-color: rgba(#000, 0.5);
$danger-color: #f1453d;
$box-shadow-danger-color: rgba(#f00, 0.5);
