$height: 32px;
$font-size: 14px;
$button-bg: #fff;
$button-active-bg: #eee;
$color: #333;
$border-color: #999;
$border-color-hover: #666;
$border-radius: 4px;
$box-shadow-color: rgba(#000, 0.5);
$danger-color: #f1453d;
$box-shadow-danger-color: rgba(#f00, 0.5);
